# Add any directories, files, or patterns you don't want to be tracked by version control

# Dependency directory
node_modules

# Bundle output
dist/index.bundle.js

# SASS temp files
.sass-cache
#src/public/css/styles.css
#dist/styles.css

# webpack bundle

# Other temp files
twoSemsters.patch

#login
src/views/user/login.ejs
