# Dependency directory
node_modules

# Bundle output
dist/index.bundle.js

# SASS temp files
.sass-cache
src/public/css/styles.css

# webpack bundle

# Other temp files
src/public/css/main.css
twoSemsters.patch
