<div class="row main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="main-page-title">Tasks</h1>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
      <div class="innerpage-container" id="tabs">
        	<div class="container">
        		<div class="row">
        			<div class="col-12">
                <h5 class="table-header">All volunteer tasks <%= text%></h5>
                <% include ../partials/tasks_table%>
        			</div>
        		</div>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>
