
<div class="row main-content">
  <div class="container-fluid">
		<div class="row">
      <div class="col-12">
        <h5 class="main-page-title">Register new user</h5>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
			<div class="row">
				<div class="col-12 col-lg-10 col-xl-8">
					<div class="innerpage-container">
            <div class="form">
              <form action="/register" class="validate" method="POST">
              <div class="form-group">
                <label for="displayName"><strong>Display Name</strong></label>
                <input id="displayName" class="form-control" type="text" name="user[displayName]"
                title="Display name can only be one or two parts of letters and/or numbers separated by space, '_', '-', or '.'"
                pattern="^(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._ ]+(?<![_.])$"
                placeholder="display name" maxlength="30" required ></input>
              </div>
              <div class="form-group">
                <label for="username"><strong>Username</strong></label>
                <input id="username" class="form-control" type="text" name="user[username]" placeholder="usename"
                title="Username can only be one or two parts of letters and/or numbers separated by '_', '-', or '.'"
                pattern="^(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$" maxlength='30' required></input>
              </div>
              <div class="form-group">
                <label for="email"><strong>Email</strong></label>
                <input id="email" class="form-control" type="email" name="user[email]" placeholder="email" required></input>
              </div>
              <div class="form-group">
                <label for="userType"><strong>User Type</strong></label>
                <select id="userType" class="form-control" name="user[userType]" required>
                  <option>Family</option>
                  <option>Teacher</option>
                  <option>Admin</option>
                </select>
              </div>
              <div class="form-group">
                <label for="vtime"><strong>Required Volunteer Time in hrs (For Family Users)</strong></label>
                <input id="vtime" class="form-control" type="number" name="user[requiredVolunteerTime]" value="15" required></input>
              </div>
              <div class="form-group">
                <label for="password"><strong>Password</strong></label>
                <input id="password" class="form-control" type="password" name="password" placeholder="password"
                minlength='8' title="Password must include at least 1 uppercase character, 1 lowercase character, and 1 number."
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required></input>
              </div>
              <div class="form-group">
                  <input type="submit" class="button btn btn-primary btn-block" value="Register">
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
