html {
  width: 100%;
  height: 100%;
}

body {
  font-family: $font-family;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: $off-white;
  color: $grey;
  letter-spacing: .2px;
  line-height: 1.5;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

strong {
  font-weight: bold;
}

.main {
  padding: $no-spacing;
}

.main-content {
  padding: $spacing-5;
  background-color: $off-white;
  height: 100vh;
}

.main-page-title {
    margin-top: $spacing-10;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    color: $dark-grey;
    text-align: center;
}

.innerpage-container {
  background-color: $white;
  border: 1px solid rgba(0,0,0,0.0625);
  border-radius: 3px;
  padding: $spacing-20;
  margin-bottom: $spacing-20;
}

/*
* Main page.
*/
.main-header {
  display: table;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  background: url('../images/volunteer-2055010_1920.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.home-page {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: $line-height;
  color: $dark-grey; // $black
  background: $light-green;

  background: -moz-linear-gradient(-45deg, $light-green 0%, #33af84 50%, #24abb7 100%);
  background: -webkit-linear-gradient(-45deg, $light-green 0%,#33af84 50%,#24abb7 100%);
  background: -ms-linear-gradient(135deg, $light-green 0%,#33af84 50%,#24abb7 100%);
  background: -o-linear-gradient(135deg, $light-green 0%,#33af84 50%,#24abb7 100%);
  background: linear-gradient(135deg, $light-green 0%,#33af84 50%,#24abb7 100%);
}

.cover-heading {
  color: $white;
  margin-bottom: $spacing-40;
}

.hide {
  display: none;
}


a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  color: inherit;
}

a:focus, a:hover {
  text-decoration: none;
}


@include media-breakpoint-up(lg) {
  .main-content {
    padding: $spacing-20;
  }

  .main-page-title {
    text-align: left;
  }
}


.projectDescription {
  white-space: pre-wrap;
}

#delete-form {
    display: inline;
}

.btn {
  min-height: 44px;
  margin-top: $spacing-5;
}
