$font-family: 'Roboto', sans-serif;
$letter-spacing: .2px;

$font-weight: 400;

// Font Size
$font-size: 14px;
$font-size-small: 12px;
$font-size-large: 15px;
$font-size-large2: 17px;

// Spacing
$no-spacing: 0px;
$spacing-5: 5px;
$spacing-10: 10px;
$spacing-15: 15px;
$spacing-20: 20px;
$spacing-25: 25px;
$spacing-30: 30px;
$spacing-40: 40px;

// Line Height
$line-height: 1.5;
