<div class="row main-content">
  <div class="container-fluid">
		<div class="row">
      <div class="col-12">
        <h5 class="main-page-title">Change Password</h5>
      </div>
    </div>
		<div class="row">
			<div class="col-12 col-lg-10 col-xl-8">
				<div class="innerpage-container">
          <div class="form">
          <form action="/users/<%=user._id%>/changepassword" class="validate" method="POST">
            <div class="form-group">
              <label for="password"><strong>Enter current password <span class="text-danger">*</span></strong></label>
              <input class="form-control" type="password" name="oldPassword" placeholder="Your current password" required></input>
            </div>
            <div class="form-group">
              <label for="newPassword"><strong>Enter new password <span class="text-danger">*</span></strong></label>
              <input class="form-control" type="password" name="newPassword" placeholder="Your new password" minlength='8' title="Password must include at least 1 uppercase character, 1 lowercase character, and 1 number."
              pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" autocomplete="off" required></input>
            </div>
            <div class="form-group">
              <label for="reNewPassword"><strong>Re-enter new password <span class="text-danger">*</span></strong></label>
              <input class="form-control" type="password" name="reNewPassword" placeholder="Type your new password again" minlength='8' title="Password must include at least 1 uppercase character, 1 lowercase character, and 1 number."
              pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" autocomplete="off" required></input>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">Change Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
