<%- include ../partials/common/header%>

<div class="home-page">
  <div class="row h-100">
    <div class="col-12 col-lg-6 mx-auto my-auto">
      <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover my-auto">
          <%- include ../partials/common/flash%>
          <h1 class="cover-heading">Welcome to the school volunteer dashboard</h1>
          <div class="container innerpage-container">
            <h2 class="form-header">Login!</h2>

            <div class="form" class="validate">
              <form action="/login" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Enter your usename" required></input>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Enter your password" autocomplete="off" required></input>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Login</button>
                </div>
              </form>
            </div>
            <p><small>Contact your school's administrator if you are not registered or have a problem siging in.</small></p>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>

<%- include ../partials/common/footer%>
