<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
   <style type="text/css" href="/css/mail.css"></style>
	</script>
</head>
  <body style='padding: 0; width: 100% !important; -webkit-text-size-adjust: 100%; margin: 0; -ms-text-size-adjust: 100%;', marginheight='0', marginwidth='0'>
    <div class="">
      <p>Hello</p>
      <p>Here is a special link that will allow you to reset your password.  Please note it will expire in one hour for your protection:</p>
      <p><a>Reset Your Password</a></p>
      <p>If you did not request this, please ignore this email and your password will remain unchanged.</p>
    </div>
  </body>
</html>
